
<h2>Danh sach cac cuon sach</h2>
<div>
  <div class="row">
    <div class="col-md-6">
      <h3>Co {{ quantity }} cuon sach</h3>
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary" routerLink="book/create" >Them sach moi</a>
    </div>

  </div>
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Ten sach</th>
        <th>Tac gia</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td><a routerLink="/book/{{ book.id }}/detail">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>    <button class="btn btn-danger" (click)="deleteBook(book.id)"> Xóa</button>
          | <a class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" routerLink="/book/{{ book.id }}/edit">Edit</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


